html {
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px 10px;
  min-height: 100vh;
  background-color: #000000;
  
  text-align: center;
  font-family: 'B612 Mono', monospace;
  color: #ffffff;
}

.logo {
  width: 120px;
  border-radius: 50%;
  margin-top: 15px;
}

h1 {
  font-size: 20px;
  margin-bottom: 1em;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

a {
  display: block;
  max-width: 380px;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  
  font-size: 0.9rem;
  text-decoration: none;
}

a:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 100;
}